<body class="fondo">
	<h1 class="titulo">
		{{titulo}}
	</h1>
<div class="container">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
	<a class="navbar-brand" [routerLink]="['/Home']" [routerLinkActive]="['activado']">Home</a>
	<ul class="navbar-nav">
		 <li class="nav-item">
			<a  class="nav-link" [routerLink]="['/aboutus']" [routerLinkActive]="['activado']">Acerca de Nosotros</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/donations']" [routerLinkActive]="['activado']">Donaciones</a>
		</li>
	</ul>	
</nav>
</div>

<br/>
<br/>	
<div class="center2" style="color: mediumspringgreen">
	Para poder contactarnos llamanos o escribe a nuestro WHATSAPP!!!
</div>
<div class="center3">
	78306201
</div>
<div class="derecha" [routerLink]="['/contact']" [routerLinkActive]="['activado']">
	<span>
		C
		<br/>
		O
		<br/>
		N
		<br/>
		T
		<br/>
		A
		<br/>
		C
		<br/>
		T
		<br/>
		A
		<br/>
		N
		<br/>
		O
		<br/>
		S
		<br/>
	</span>
</div>
<router-outlet></router-outlet>