<body class="fondo">
  <script src="json.js"></script>
  <form role="form">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="mail">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <a [routerLink]="['/Home']" [routerLinkActive]="['activado']">Login</a>
        <button (click)="generar();">Generar Json File!!!</button>
  </form>
</body>
<router-outlet></router-outlet>